#video-container {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 12px;
    visibility: hidden;
}
#video-container-header {
    width: 100%;
    height: 30px;
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    cursor: grab;
}
#video-container-header-line {
    width: 80px;
    height: 5px;
    background-color: var(--dark-content);
    border-radius: 2.5px;
    transition: 300ms;
}
#video-container-footer {
    width: 100%;
    height: 56px;
    background-color: var(--dark-bg);
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#video {
    height: 270px;
    width: 270px;
}